
html {
    scroll-behavior: smooth;
}

body{
font-family: "Manrope", sans-serif;
color: #fcf9f9;
background-color: #1c2225;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
        padding-left: 0;
} 

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}
                            /* --------header-------- */

.main-header{
    border-bottom: 1px solid #e7e9fc;
    }

.header-logo{
padding: 20px 0;
margin-left: 0;
    margin-right: 60px;
    border-radius: 50%;
}

.header-nav{
    display: flex;
}
.heder-container{
    display: flex;
    align-items: center;
    
}
.header-list{
display: flex;
    align-items: center;
    gap: 25px;
}

.header-links{
    
    font-size: 14px;
        line-height: 1.29;
        text-transform: uppercase;
        color: #fcf9f9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: #fcf9f9;

}

.header-address{
display: flex;
margin-left: auto;

    }

.header-address-list{
        display: flex;
            align-items: center;
            gap: 12px;
            justify-content: right;
    }
.header-tel{
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 15px;
    width: 193px;
    height: 48px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header-address-social{
    display: flex;
    align-items: center;
    justify-content: center;
border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    background: rgba(252, 249, 249, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-svg{
    fill: #fcf9f9;
}


.header-links:hover,
.header-links:focus{
   
   color:#404bbf;
}

.header-tel:hover,
.header-tel:focus{
    border-color: #404bbf;
}


.header-address-social:hover,
.header-address-social:focus{
background-color: rgba(253, 9, 9, 0.596);
}


                         /* -----------hero----------- */

.hero-container{
        display: flex;
    }

.hero-img{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 8px;
    width: 392px;
        height: 545px;
}

.hero-title{
    font-size: 64px;
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 632px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        color: #fcf9f9;
}

.button-img{
    display: flex;
}
.button-order{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px; 
        margin-left: 180px; 
        border: 1px solid rgba(252, 249, 249, 0.1);
            border-radius: 15px;
            padding: 14px 39px;
            width: 168px;
            height: 50px;
            font-weight: 600;
                font-size: 16px;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: #fcf9f9;
                background-color: transparent;
}

.button-order:hover,
.button-order:focus{
    background-color: rgba(255, 0, 0, 0.507);
}

.adelina{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
     margin-top: 170px;
     margin-left: 80px;
    width: 115px;
    height: 111px;
        box-shadow: 0 4px 12px rgba(196, 182, 182, 0.08), 0 1px 4px rgba(9, 146, 238, 0.308);
}

.adelina-text{
    font-size: 16px;
        letter-spacing: -0.04em;
        text-align: center;
        color: rgba(249, 250, 252, 0.4);
}

/*--------------------------- Abaut-------------------------- */

.about{
    margin-bottom: 150px;
}

.container-abaut{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-title{
    display: flex;
    flex-direction: column;
}

.about-title{
    font-weight: 500;
        font-size: 44px;
        line-height: 1.45455;
        letter-spacing: -0.03em;
        color: #fcf9f9;
        margin-bottom: 40px;
}

.about-text{
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.img-abaut{
    border-radius: 8px;
    max-width: 710px;
    max-height: 545px;
}




